flows.json
[{"id":"37838f80.eba9a","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"c99ca984.2a7fe8","type":"watson-conversation-v1","z":"37838f80.eba9a","name":"Assisstant","workspaceid":"de7e2fc4-c6d9-4993-9fb6-571e85bddf3f","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9eabe269-974f-483a-a860-e5c5cd4c38c3","timeout":"","optout-learning":false,"x":399.00000762939453,"y":243.00000381469727,"wires":[["9e9d821e.d9bec","c4192274.80dad"]],"l":false},{"id":"2d96859.6236c7a","type":"function","z":"37838f80.eba9a","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":290.6000061035156,"y":335,"wires":[["c99ca984.2a7fe8","51de06b.fe24ef8"]],"l":false},{"id":"12944894.9c79b7","type":"ui_form","z":"37838f80.eba9a","name":"","label":"","group":"1dfb2b09.b83135","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":144,"y":416,"wires":[["2d96859.6236c7a"]],"l":false},{"id":"9e9d821e.d9bec","type":"debug","z":"37838f80.eba9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":571.600058555603,"y":172.00000286102295,"wires":[],"l":false},{"id":"c4192274.80dad","type":"function","z":"37838f80.eba9a","name":"F2","func":"var msgtext =\"\";\nif(msg.payload.context.webhook_result_1){\n    \n   for(var i in msg.payload.context.webhook_result_1.response.result.results){\n    msgtext=msgtext+\"\\n\"+msg.payload.context.webhook_result_1.response.result.results[i].text;\n}\n   msg.payload=msgtext;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":589.6000366210938,"y":330,"wires":[["14e2bec1.8aa951","90c22212.dedb3"]],"l":false},{"id":"51de06b.fe24ef8","type":"ui_text","z":"37838f80.eba9a","group":"1dfb2b09.b83135","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":397,"y":404,"wires":[],"l":false},{"id":"e0a6681c.681a98","type":"inject","z":"37838f80.eba9a","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.60000610351562,"y":166,"wires":[["c99ca984.2a7fe8"]],"l":false},{"id":"14e2bec1.8aa951","type":"ui_text","z":"37838f80.eba9a","group":"1dfb2b09.b83135","order":5,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":725.0000095367432,"y":396.0000057220459,"wires":[],"l":false},{"id":"90c22212.dedb3","type":"debug","z":"37838f80.eba9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":744.5,"y":272,"wires":[],"l":false},{"id":"1dfb2b09.b83135","type":"ui_group","z":"","name":"CHATBOT","tab":"b52ba0c.8ecf46","order":1,"disp":true,"width":16,"collapse":false},{"id":"b52ba0c.8ecf46","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]